/* Estilos adicionais para a seção de contato */
.secao_contato {
    max-width: 100%;
    width: 90%;
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 30px;
    text-align: center;
    overflow: visible;
}

.form-contato {
    border: none;
    width: 100%;
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: auto;
}

@media screen and (max-width: 768px) { /* Celulares */
    .form-contato {
        max-width: 100%;
        height: 400px; /* Reduz altura para telas menores */
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) { /* Tablets */
    .form-contato {
        max-width: 100%;
        height: 900px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1199px) { /* Desktops médios */
    .form-contato {
        max-width: 800px;
        height: 900px;
    }
}

@media screen and (min-width: 1200px) { /* Telas grandes */
    .form-contato {
        max-width: 900px;
        height: 900px; /* Ajusta altura para telas maiores */
    }
}